# dependencies
node_modules
.pnp
.pnp.js

# db persistant data
dump
mongod.log

# testing
coverage

# TS compiler
dist
.vscode

# production
build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*